footer{
    background-color: var(--verde);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0px;
  }
  
  footer p{
    color: #fff;
    font-size: 14px;
  }