@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
@import url('./header.css');
@import url('./main.css');
@import url('./footer.css');
@import url('./cadastro.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --azul: #3772FF;
  --verde: #36D6AD;
  --coral: #FC7071;
  --creme: #FCF0E3;
  --cinza-escuro: #737380;
  --cinza-claro: #BCBCBC;
  --cinza-claro-fundo: #F6F6F6;
}

body{
  width: 100%;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.body__principal{
  background-color: var(--azul);
}